body{
    background-color:whitesmoke;
   }
   /* heading */
   .heading{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
   #mainh{
       height: 40px;
       width: 600px;
       border: 2px solid black;
       border-radius: 20px 20px 20px 20px;
       font-size: 25px;
       font-family: 300px;
       text-align: center;
       padding-top: 10px;
       color: white;
       background-color: #b23a48;
   }
   #backtohome{
       height: 40px;
       width: 120px;
       text-align: center;
       border: 2px solid black;
       border-radius: 20px;
       color: white;
       background-color: #e88e74;
       transition: box-shadow 2s ease-in-out 0.2;
       margin-left: 20px;
       margin-top: 20px;
       
   }
   #backtohome:hover{
           box-shadow: 0px 0px 10px whitesmoke;
       }
   #backtohome:active{
       background-color: red;
   }
   /* year dropdown and show button */
   #Year{
       height: 40px;
       width: 140px;
       text-align: center;
       border: 2px solid black;
       border-radius: 20px;
       color: white;
       background-color: #e88e74;
       transition: box-shadow 2s ease-in-out 0.2;
       font-size: 14px;
       margin-left: 20px;
   }
   #Year:hover{
       box-shadow: 0px 0px 10px whitesmoke;
   }
   #show{
       height: 40px;
       width: 140px;
       text-align: center;
       border: 2px solid black;
       border-radius: 20px;
       color: white;
       background-color: #e88e74;
       transition: box-shadow 2s ease-in-out 0.2;
       margin-left: 20px;
   }
   #show:hover{
       box-shadow: 0px 0px 10px whitesmoke;
   }
   #show:active{
       background-color: red;
   }
   /* table formatting */
   /* map and table container */
   #tmcontainer{
       display: flex;
       /* justify-content: space-between;   */
       gap: 10px;
       height: 800px;
       width: 1500px;
       justify-content: flex-end;
       align-items: baseline;
      
   }
   #tcontainer{
       height: 700px;
       width: 800px;
       color: #ec7b5b;
       background-color: whitesmoke;
       border: 2px solid black;
       border-radius: 20px;
       margin-top: 20px;
       overflow-y: auto;
       white-space: nowrap; 
       
   }
   .table{
       width: 550px;
       border-collapse: separate;
       border-spacing:0px 10px ;
       display: table;
       flex-direction: row;
       justify-content: center;
       align-content: center;
       margin-left: 55px;
   }
   th,td{
       text-align: center;
       border-bottom: 2px solid black;
       padding: 10px 20px ;
   }
   /* map */
   #mcontainer{
       height: 580px;
       width: 800px;
       /* background-color: #fdecea; */
       /* border-left: 2px solid black;
       border-radius: 20px; */
       gap: 20px;
       /* text-align:right; */
       position: relative;
       display: flex;
       flex-direction: column;
       align-content: space-around;
       overflow-y: auto;
       overflow-x: auto;
   }
   svg{
       width: 100%;
       height: 100%;
       vertical-align: middle;
       fill: #ec7b5b;
   }
   /* state and crime names in map */
   /* crime name and map common id .maphead */
   .maphead{
       color:#ec7b5b;
   }
   .state-name{
       font-size: 28px;
       margin: 25px 0px 30px;
       text-align: center;
       /* margin-right: 130px; */
   }
   .data{
       display: inline-flex;
       flex-direction: row;
       /* text-align: center; */
       gap: 110px;
       margin-left: 80px;
   }
   .caseMurder,.caseRape,.caseKidnapping,.caseRobbery,.caseTotal{
       font-size: 1rem;
       line-height: 1.5;
       font-weight: 700;
      
   }
   .caseFigMurder,.caseFigRape,.caseFigKidnapping,.caseFigRobbery,.caseToatl{
       font-size: 20px;
       list-style: 1.5px;
       text-align: center;
   }